/* the next css block is duplicated for the same thing in Registry.css */
.accommodations {
    margin: auto;
    padding-top: 2rem;
}

.card-link {
    display: block;
    margin-left: 0 !important;
}

.addressLinkText {
    margin-bottom: 1rem;
}