@import './variables.scss';

// App.js
.App {
  color: $header-color;
  text-align: center;
  font-family: "Gill Sans", sans-serif;
}

.card {
  width: 18rem;
  margin: 2.5rem;
  display: inline-block;
  background-color: $body-color-secondary;
}

.nav-tabs {
  border-bottom: 1px solid $body-color-secondary;
}

.nav-link {
  color: $header-color;
}

.nav-link:hover {
  color: $header-color-hover !important;
  border-color: $body-color-secondary $body-color-secondary $body-color-primary !important;
}

.nav-link:focus {
  border-color: $header-color !important;
}


.nav-item.active {
  color: $header-color-hover !important;
  background-color: $body-color-primary !important;
  border-color: $body-color-secondary $body-color-secondary $body-color-primary !important;
}

.nav-link.disabled {
  color: $disabled !important;
}

// AppHeader.js
.appHeader {
  background-color: $header-color;
  align-items: center;
  justify-content: center;
  font-size: $header-font-size;
}

.navigationBar {
  height: 3rem;
}

.headerText {
  color: $base-font-color;
  letter-spacing: 2px;
}

.navBrand, .headerText:hover {
  color: $base-font-color-hover;
}

.navbar-brand {
  font-family: $import-font;
  font-size: 2.2rem;
  margin-left: 1rem;
  letter-spacing: 4px;
}

.navOptions, .navLink {
  margin: auto;
}

.navOptions {
  padding-left: 3rem;
}

.navLink {
  font-size: $header-font-size;
}

// CustomCarousel.js
.carousel-inner {
  width: 100%;
  margin: auto;
}

.carousel-indicators li {
  background-color: $base-font-color;
}

.carousel-indicators li.active {
  background-color: $base-font-color-hover;
}

// CustomCarouselItem.js
.carouselCaption {
  font-family: $import-font;
  font-size: 2.2rem;
  letter-spacing: 4px;
  color: $base-font-color-hover;
}

// HomeSection
.homeSection {
  height: auto;
  margin: auto;
  padding: 3rem 0;
}

.colorBackground {
  background-color: $body-color-secondary;
}

.sectionTitle {
  margin-bottom: 1rem;
}

.homepageImage {
  width: 25rem;
  margin: 2rem 0;
}

// Photos.js
.photos {
  margin: auto 5rem;
}

.photo {
  width: 12rem;
  margin: 2rem;
}

// RouteTop.js
.routeTop {
  padding-top: 2rem;
}

// CustomCard.js
.card-link {
  display: block;
  margin-left: 0 !important;
  font-size: .9rem;
  color: $header-color-hover;
}

.card-link:hover {
  color: $header-color;
  text-decoration: underline;
}

.addressLinkText {
  margin-bottom: 1rem;
  color: $header-color-hover;
}

.addressLinkText:hover {
  color: $header-color;
}

.hideCity {
  display: none;
}

// Wedding.js, SmallText.js
.smallText {
  font-size: .9rem;
}

.regularLinkText {
  color: $header-color-hover;
}

.regularLinkText:hover {
  color: $header-color;
}

// FormRSVP.js
form {
  text-align: left;
  margin: 3rem 50rem auto 50rem;
}

.rsvpSubmitButton {
  background-color: $header-color !important;
  border-color: $header-color-hover !important;
}

.rsvpSubmitButton:hover {
  background-color: $header-color-hover !important;
}

.rsvpSubmitButton:disabled:hover {
  background-color: $header-color !important;
}