$header-color: #caebf7;
$header-font-size: 1.5rem;
$body-color: #fffffffa;

.App {
  text-align: center;
}

.App-header {
  background-color: $header-color;
  align-items: center;
  justify-content: center;
  font-size: $header-font-size;
}

.App-body {
  background-color: $body-color;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.card {
  width: 18rem;
  margin: 2.5rem;
  display: inline-block;
}

.card-body {
  background-color: #eefaff;
}