@import "variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

.appHeader {
    background-color: $header-color;
    align-items: center;
    justify-content: center;
    font-size: $header-font-size;
}

.navigationBar {
    height: 3rem;
}

.navigationBarHeader, .navigationBarText:hover {
    color: $base-font-color-hover !important;
}

.navigationBarText {
    color: $base-font-color !important;
}

.navbar-brand {
    font-family: 'Great Vibes', cursive;
    font-size: 1.7rem;
    font-weight: bold;
    margin-left: 1rem;
}

.navOptions, .navigationBarText {
    margin: auto;
    padding-left: 3rem;
}

.nav-link {
    font-size: 1rem;
}