@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

.navigationBar {
    height: 3rem;
}

.navigationBarHeader, .navigationBarText:hover {
    color: #696969 !important;
}

.navigationBarText {
    color: #808080 !important;
}

.navbar-brand {
    font-family: 'Great Vibes', cursive;
    font-size: 1.7rem;
    font-weight: bold;
    margin-left: 1rem;
}
  
.navOptions, .nav-link {
    margin: auto;
    padding-left: 3rem;
}

.nav-link {
    font-size: 1rem;
}