@import url('https://fonts.googleapis.com/css2?family=Allura&family=Great+Vibes&family=Qwigley&display=swap');

$import-font: 'Qwigley', cursive;
// 'Allura', cursive;

$header-color: #7b7464;
$header-color-hover: #4d483c;
$header-font-size: .7rem;

$body-color-primary: #dde5df;
$body-color-secondary: #c1cec4;

$base-font-color: #ccc3aa;
$base-font-color-hover: #ffefc4;

$disabled: lightgray;