/* 05668D
028090
00A896
02C39A
F0F3BD 
EEF0F2 */

html {
  background-color: #EEF0F2;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #00A896;
  border-bottom: 3px solid #F0F3BD;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: white;
}

.navbar-brand {
  font-family: Brush Script MT, Brush Script Std, cursive;
  font-size: 3rem;
  font-weight: bold;
  margin-left: 1rem;
}

.mr-auto, .nav-link, .nav-item {
  margin: auto;
}

.App-body {
  background-color: #EEF0F2;
}

.homepageHeader {
  font-family: Brush Script MT, Brush Script Std, cursive;
  font-weight: bold;
}

.carousel-inner {
  width: 50%;
  margin: auto;
}